
.gradle
/target
!/web/build
./build
server/target
docs/modules/system-base/target
docs/modules/system-other/target
docs/nodes/nc_export/node_modules/**
docs/nodes/node-web/node_modules/**
docs/nodes/node-web/public/**
docs/nodes/node-web/index.html
docs/nodes/nc_export/node_modules/*
docs/nodes/nc_export/src/sqls/*
/htmltest
/.idea/*
/*.iml
#!/.idea/misc.xml
#!/.idea/gradle.xml
#!/.idea/compiler.xml
!/.idea/scopes
/.idea/inspectionProfiles/
/.idea/compiler.xml
/web/yarn.lock
/log/
out
booz-boot/src/main/resources/public/index.html
booz-boot/src/main/resources/public/cdn/**
booz-boot/src/main/resources/public/static/**
**/generated/com/boozsoft/product/entity/**
**/generated/**
src/main/resources/public
#/booz-boot/src/main/resources/public
