[Desktop Entry]
Comment=Run IDEA
Exec=/home/jesse/Desktop/ideaIC-2022.2.3/idea-IC-222.4345.14/bin/idea.sh
Icon=/home/jesse/Desktop/ideaIC-2022.2.3/idea-IC-222.4345.14/bin/idea.png
Name=IDEA
Path=
StartupNotify=false
Terminal=false
Type=Application
Version=213.6777.52
X-Deepin-Vendor=user-custom
