.pingzheng_table_container {
  height: inherit;
  margin-top: 0px;
  position: relative;
  z-index: 1;
  padding: 0;
  border-radius: 0 0 10px 10px; padding-top: 105px !important;
}
.pingzheng_table_container ul[class^="table_"].table_head>li:last-child {
  border-right:solid 1px #bfbfbf;
}
.pingzheng_table_container ul[class^="table_"].table_body>ul>li:nth-last-child(3) {
  border-right:solid 1px #bfbfbf !important;
}
.pingzheng_table_container ul[class^="table_"].table_head>li:last-child {
  border-right:solid 1px #bfbfbf;
}

.pingzheng_table_container ul[class^="table_"].table_head>li {
  background:#e3e2e2;
}

.pingzheng_table_container ul[class^="table_"].table_head {
  margin-left: 49px;
}
.pingzheng_table_container ul[class^="table_"].table_head .title_name {
  font-weight: 500;
  font-size: 14px;
  font-family: 'PingFang SC';
  color: black;
}
.pingzheng_table_container ul[class^="table_"].table_head li.col-serial {
  border-left: solid 1px #bfbfbf;
  text-align: center;
}
.pingzheng_table_container ul[class^="table_"].table_head > li.col1 {
  border-left: solid 1px #bfbfbf;
}
.pingzheng_table_container ul[class^="table_"].table_head > li.col-dai {
  border-right: solid 1px #bfbfbf;
}
.pingzheng_table_container ul[class^="table_"].table_head > li.col-jie,
.pingzheng_table_container ul[class^="table_"].table_head > li.col-dai {
  padding-top: 0;
}
.pingzheng_table_container ul[class^="table_"].table_head > .col-jie > div,
.pingzheng_table_container ul[class^="table_"].table_head .col-dai > div {
  padding-bottom: 11px;
  border-bottom: 1px solid #bfbfbf;
}
.pingzheng_table_container ul.table_head [class^="col"] {
  width: 25%;
  padding-top: 3px;
  text-align: center;
  border-top: 0;
}
.pingzheng_table_container ul.table_head .manyGridTitle {
  float: right;
}
.pingzheng_table_container ul[class^="table_"].table_body {
  margin-left: 49px;
}
.pingzheng_table_container ul[class^="table_"].table_body li.col-serial {
  border-left: solid 1px #bfbfbf;
  text-align: center;
}

.pingzheng_table_container ul[class^="table_"].table_body li.col-serial:nth-of-type(1) {
  border-left: none !important;
}
.pingzheng_table_container ul[class^="table_"].table_body li.col1 {
  border-left: solid 1px #bfbfbf;
}
.pingzheng_table_container ul[class^="table_"].table_body li.col1 .ulList {
  width: 267.5px !important;
}
.pingzheng_table_container ul[class^="table_"].table_body li.col2 .ulList {
  width: 407.5px !important;
}
.pingzheng_table_container ul[class^="table_"].table_body li.col-dai {
  border-right: solid 1px #bfbfbf;
}
.pingzheng_table_container ul[class^="table_"].table_sumRow {
  margin-left: 49px;
}
.pingzheng_table_container ul[class^="table_"].table_sumRow > li.sumCol {
  border-left: solid 1px #bfbfbf;
}
.pingzheng_table_container ul[class^="table_"].table_sumRow > li.col-dai {
  border-right: solid 1px #bfbfbf;
}
.pingzheng_table_container ul[class^="table_"].table_sumRow > li.col-jie,
.pingzheng_table_container ul[class^="table_"].table_sumRow > li.col-dai {
  padding-top: 0;
  border-bottom: solid 1px #bfbfbf;
}
.pingzheng_table_container ul[class^="table_"].table_sumRow > .col-jie > div,
.pingzheng_table_container ul[class^="table_"].table_sumRow .col-dai > div {
  padding-bottom: 11px;
  border-bottom: 1px solid #bfbfbf;
}
.pingzheng_table_container textarea {
  resize: none;
}
.pingzheng_table_container .moneyGrid li {
  width: 15px !important;
}
.pingzheng_table_container ul[class^="table_"] > li {
  vertical-align: top;
}
.pingzheng_table_container ul.lastRow .col-serial {
  width: 10%;
  border-right: 0;
  border-left: 0;
}

.pingzheng_table_container ul {
  padding: 0;
}
.pingzheng_table_container.hasCol3 ul[class^="table_"] .col1 {
  width: 167.5px;
}

.pingzheng_table_container ul[class^="table_"] {
  display: block;
  padding: 0;
  margin: 0;
}
.pingzheng_table_container ul[class^="table_"] [class^="col"] {
  width: 100px;
  height: 52px;
  list-style: none;
  border: solid 1px #bfbfbf;
  box-sizing: border-box;
}
.pingzheng_table_container ul[class^="table_"] [class^="col"] div {
  vertical-align: top;
}
.pingzheng_table_container ul[class^="table_"] .col1 {
  width: 267.5px;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
.pingzheng_table_container ul[class^="table_"] .col-serial {
  width: 35px;
  border-right: 0;
  border-bottom: 0;
  border-left: 0;
}
.pingzheng_table_container ul[class="firstRow"],.pingzheng_table_container ul[class="table_head"],.pingzheng_table_container ul[class="table_sumRow"] {
  display: flex;
}
.pingzheng_table_container ul[class="firstRow"]>*,.pingzheng_table_container ul[class="table_head"]>*,.pingzheng_table_container ul[class="table_sumRow"]>*{

  flex-shrink: 0;
}
.pingzheng_table_container ul[class^="table_"] .col-jie {
  width: 195px;
  border-right: 0;
  border-bottom: 0;
}
.pingzheng_table_container ul[class^="table_"] .col-dai {
  width: 195px;
  border-right: 0;
  border-bottom: 0;
}
.pingzheng_table_container .table_sumRow .sumCol {
  border: solid 1px #bfbfbf;
  border-right: 0;
  border-left: 0;
  box-sizing: border-box;
}
.pingzheng_table_container .table_sumRow [class^="col"] {
  border-bottom: solid 1px #bfbfbf;
}
.pingzheng_table_container [class^="col"] {
  vertical-align: top;
}
.pingzheng_table_container li {
  list-style: none;
}
.moneyGrid {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  width: calc(100% + 1px);
  font-weight: 300;
  white-space: nowrap;
  box-sizing: border-box;
  justify-content: space-between;
}
.moneyGrid li {
  list-style: none;
  border-right: solid 1px #d9d9d9;
  box-sizing: border-box;
}
.moneyGrid li:nth-of-type(2) {
  border-right: solid #a5d9f6 1px;
  box-sizing: border-box;
}
.moneyGrid li:nth-of-type(5) {
  border-right: solid #a5d9f6 1px;
  box-sizing: border-box;
}
.moneyGrid li:nth-of-type(8) {
  border-right: solid #a5d9f6 1px;
  box-sizing: border-box;
}
.moneyGrid li:nth-of-type(11) {
  border-right: solid #eeb9b9 1.5px;
  box-sizing: border-box;
}
.moneyGrid li:last-child {
  border-right: none;
}
.abcd .ant-spin-dot{
  position: absolute !important;
  top: calc(100% / 2)!important;;
  left: calc(100% / 2)!important;;
}
.abcd .ant-spin-spinning{
  z-index: 2 !important;;
  background: #000000cc !important;;
  width: 100% !important;;
  height: 100% !important;;
  position: absolute !important;
}
